* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Outfit", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

/* Header started */

header#head {
  background: url(/assets/img/hero_bg.png) no-repeat scroll 0 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.margintop{
  margin-top: 100px;
}

button#button-addon2 {
  margin-left: 10px !important;
}

a.nav-link.disabled {
  background-color: limegreen;
  border-radius: 10px;
  color: #fff;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #000;
  left: 0;
  top: 0;
  opacity: 0.89;
  z-index: 0;
}

.park_menu a {
  color: #fff;
}

.park_menu a:hover {
  color: #5cad2f;
}

a.nav-link.find_btn {
  background: #5cad2f;
  border-radius: 10px;
}

a.nav-link.find_btn:hover {
  background: #fff;
}

.parking_hero {
  position: relative;
  z-index: 1;
}

.park_menu a {
  color: #fff;
}

.hero_left h1 {
  font-size: 54px;
  text-transform: capitalize;
  line-height: 64px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}

.hero_left h1 span {
  color: #5cad2f;
}

.parking_search {
  margin: 30px 0;
}

.parking_search input {
  box-shadow: none !important;
}

.parking_search .btn {
  background: #5cad2f;
}

.city {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.city a {
  display: inline-block;
  background: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  color: #070a07;
  gap: 10px;
  transition: 0.3s ease all;
}

.city a:hover {
  background: #5cad2f;
  color: #fff;
}



.align_mr {
  text-align: right;
  margin-right: 90px;
}

.single-item {
  position: relative;
  display: block;
  padding: 40px 40px 75px 30px;
  margin-bottom: 45px; 
}

.bg-shape {
  position: absolute;
  left: -140px;
  top: -40px;
  width: 440px;
  height: 435px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.single-item h3 {
  display: block;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 16px;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  margin: 0px;
  transition: all 500ms ease;
}

.single-item h3 a {
  display: inline-block;
  color: #000;
}

p {
  position: relative;
  color: #676767;
  font-weight: 400;
  margin: 0px;
  transition: all 500ms ease;
}

.icon-box {
  position: relative;
  display: block;
  font-size: 55px;
  /* margin-bottom: 20px; */
  color: #87c332;
}

.icon-box img {
  width: 72px;
}

.image-box {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.image-box .image-shape .shape-1 {
  position: absolute;
  left: -100px;
  top: 25px;
  width: 600px;
  height: 600px;
  border: 1px solid rgba(229, 229, 229, 0.694);
  border-radius: 50%;
}

.image-box .image-shape .shape-2 {
  position: absolute;
  left: -126px;
  top: 115px;
  width: 584px;
  height: 373px;
  background-repeat: no-repeat;
}

.ml_90 {
  margin-left: 170px;
}


.buttonaddon2{
  background-color: #5CAD2F;
    border-radius: 10px;
    padding: 10px;
    color: #fff; 
}

.sectionbg {
  background-color: black;
  margin-top: -50px;
  border-radius: 3px 40px 2px 40px;
  text-align: center;
  padding: 35px;
}


.frompart{
  background-color: #F6F6F6;
  margin-top: 50px;

}   


.centred h2{
  text-align: center;
  font-size: 35px;
  line-height: 52px;
  font-weight: 700;
  margin: 13px;
  margin-left: -167px;
}

input#mce-EMAIL {
  width: 159px;
  float: right;
  background-color: white;
}

.mrgin1 {
  width: 50% !important;
}

.bgcontact{
  background-color: green;
  color: #ffffff;
  margin-left: 10px;
}

.row.sectionbg2 img {
  width: 100px;
}

.greenhab{
  background-color:#5CAD2F; 
  padding:20px;
}

input[type="email"] {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 318px;
}

button.button5 {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 4px;
  margin-top: 17px;
  margin-left: 195px;
}

i.fa-solid.fa-phone-volume {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 14px;
  margin-left: -45px;
  margin-bottom: -6px;
}

p.phone_volume {
  margin-top: -30px;
  color: white;
  font-size: 18px;
}

.footerbg{
  background-image: url(../img/backfooter.png);
  background-repeat: no-repeat;
  background-size: cover;
}

p.borderus {
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
}

.widget {
    color: #ddd;
    padding: 10px;
}

input[type="email"] {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: -44px;
}

input[type="submit"] {
  margin-left: -90px;
}

.accordion-button::after{
  
  background-image: url(../img/plus-solid11.svg);
} 

.backgroundborder{
  background-color: #676767;
}

.border22{
  border-radius: 15px;
  box-shadow: 0px 0px 38px 0px #0B223933;
  width: 40%;
}


div#accordionFlushExample {
  margin-top: 43px;
  margin-left: 40px;
}

.col-md-6.centred {
  margin-left: 85px;
}

img.images11 {
  width: 166%;
  margin-left: -132px;
}


.icon-box1{
  position: relative;
  margin-left: -92px;
} 

.icon-box2 {
  position: relative;
  margin-left: -92px;
} 

.icon-box3 {
  position: relative;
  margin-left: -92px;
} 
.icon-box4{
  position: relative;
  margin-left: -92px;
} 

h3.floatleft {
  margin-left: -92px;
}

.more-btn{
  text-align: center;
}

a.theme-btn-one {
  background-color:#5CAD2F;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.img4 img {
  width: 50px;
  margin-left: 75px;
  margin-bottom: 10px;
}

input.allbutton {
  width: 135px;
  margin-left: -154px;
  border-radius: 5px;
  background-color:#5CAD2F;
  color: #fff;
}