* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-family: "Outfit", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
}
/* Header started */
header#head {
  background: url(/assets/img/hero_bg.png) no-repeat scroll 0 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.overlay {
  position: relative;
}
.overlay::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #000;
  left: 0;
  top: 0;
  opacity: 0.89;
  z-index: 0;
}
.park_menu a {
  color: #fff;
}
.park_menu a:hover {
  color: #5cad2f;
}
a.nav-link.find_btn {
  background: #5cad2f;
  border-radius: 10px;
}
a.nav-link.find_btn:hover {
  background: #fff;
}
.parking_hero {
  position: relative;
  z-index: 1;
}
.park_menu a {
  color: #fff;
}
.hero_left h1 {
  font-size: 54px;
  text-transform: capitalize;
  line-height: 64px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}
.hero_left h1 span {
  color: #5cad2f;
}
.parking_search {
  margin: 30px 0;
}
.parking_search input {
  box-shadow: none !important;
}
.parking_search .btn {
  background: #5cad2f;
}
.city {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.city a {
  display: inline-block;
  background: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  color: #070a07;
  gap: 10px;
  transition: 0.3s ease all;
}
.city a:hover {
  background: #5cad2f;
  color: #fff;
}
